<?xml version="1.0" encoding="UTF-8" ?>
<!--suppress ALL -->
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.github.chenhaiyangs.gateway.service.storage.header.mapper.ResponseHeadersMapper" >

    <!-- 查询全部-->
    <select id="findAll" resultType="com.github.chenhaiyangs.gateway.service.storage.header.vo.ResponseHeader" >
        select
        id,
        api_id as apiId,
        headers,
        forbidden
        from gateway_response_header
    </select>


    <!-- 根据id查询 -->
    <select id="selectById" resultType="com.github.chenhaiyangs.gateway.service.storage.header.vo.ResponseHeader">
        select
        id,
        api_id as apiId,
        headers,
        forbidden
        from gateway_response_header
        where id=#{id}
    </select>
</mapper>